body {
    background-color: powderblue;
}

h3 {
    color: green;
}

div {
    border-style: solid;
}

p {
    color: red;
    font-family: courier;
    font-size: 18;
}

img {
    float:left;
}

.divleft {
    float:left;
    width:10%;
    padding:5px;
}

.divright {
    float:right;
    width:88%;
    padding:5px;
}

#divl {
    background-color: grey;
}